In [ ]:
#INVESTIGATE A DATASET

In [4]:
#Wrangling Phase
#Cleaning the data
#loading the data into Pandas dataframe
import pandas as pd

titanic_data = pd.read_csv('/Users/sabihabarlaskar/Downloads/python/titanic_data.csv') 
titanic_data.fillna(0, inplace=True) # removing all nan values

In [107]:
#Function to clean any unwanted characters from the data
def clean_data(name):
    clean_names = name.str.replace(r"\(.*\)","")
    return clean_names
clean_names = clean_data(titanic_data['Name'])
clean_names

In [ ]:
#displaying the names as first name , last name and finding out the surviors
name_of_survivor = titanic_data[['Name','Survived']]
survivors = name_of_survivor.loc[name_of_survivor['Survived']==1]
names=survivors['Name']
clean_data(names)

In [ ]:
def reverse_name(name):
    split_name = name.split(" ")
    addr = split_name[0]
    last_name = split_name[1]
    first_name = split_name[2]
    return last_name + "  " + first_name +"  " + addr


def reverse_names(names):
    return names.apply(reverse_name)

name_list = reverse_names(clean_names)

name_list

In [153]:
#Statistical summary

titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,23.799293,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,17.596074,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,6.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,24.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
#Explore Phase

In [7]:
#Finding the total of passengers aboard
len(titanic_data['PassengerId'].unique())

891

In [204]:
#total survivors and total deaths. 
survivors = titanic_data['Survived'].sum()
#survivors.sum()
survivors

342

In [205]:
#total deaths
death = titanic_data.loc[titanic_data['Survived']==0]
len(death)

549

In [8]:
#Saving two columns of data into a data frame
survival_class = titanic_data[['Pclass','Survived']]

In [9]:
#Total number of survivors of pclass 3
pclass_3_survivor = survival_class.loc[survival_class['Pclass'] == 3].sum()[1]
print pclass_3_survivor

119

In [10]:
#Total number of survivors of pclass 2
pclass_1_survivor = survival_class.loc[survival_class['Pclass'] == 1].sum()[1]
print pclass_1_survivor

136

In [11]:
#Total number of survivors of pclass 1
pclass_2_survivor = survival_class.loc[survival_class['Pclass'] == 2].sum()[1]
print pclass_2_survivor

87

In [12]:
#Compare which class has the greatest number of survivors
import numpy as np
survivors = [pclass_1_survivor,pclass_2_survivor,pclass_3_survivor]
pclass = titanic_data['Pclass'].unique()
ps = np.sort(pclass,axis=-1, kind='quicksort', order=None)
class_survivors = pd.Series(survivors,index = ps)
def max_survivor(series):
    max_class = series.argmax()
    max_value = series.loc[max_class]
    return (max_class,max_value)
max_class,max_value = max_survivor(class_survivors)
print "Class",max_class,"has maximum survivors =",max_value

Class 1 has maximum survivors = 136

In [13]:
#Comparing the ages of the survivors
survival_age = titanic_data[['Age','Survived']]

In [193]:
#Survivors whose age is greater than 30

survivors_gt_30 = survival_age.loc[survival_age['Age'] > 30].sum()[1]

print "Total number of survivors greater than 30 is:",survivors_gt_30
#passengers_gt_30.Age

Total number of survivors greater than 30 is: 124.0

In [76]:
#Survivors whose age is less than 30

survivors_ls_30 = survival_age.loc[survival_age['Age'] < 30].sum()[1]
print "Total number of survivors less than 30 is:",survivors_ls_30

Total number of survivors less than 30 is: 208.0

In [16]:
#Compare which age has the greatest number of survivors
def compare_num(a,b,n,var):
    if a > b:
        print "The people whose",var," was less than",n,"survived more "
    else:
        print "The people whose", var,"was greater than", n," survived more "
compare_num(survivors_ls_30,survivors_gt_30,'30','age')

The people whose age  was less than 30 survived more

In [17]:
#Finding out the maximum fare and who paid the highest fare and did she survive
survival_fare = titanic_data[['Fare','Survived','Pclass','Name']]

In [18]:
max_fare = survival_fare.loc[survival_fare['Fare'].idxmax()]
max_fare[3]
print "The maximum fare paid by :", max_fare[3],"of class ",max_fare[2],"is:",max_fare[0]

The maximum fare paid by : Ward, Miss. Anna of class  1 is: 512.3292

In [19]:
#Checking if people with maximum siblings on board survived
survival_sib = titanic_data[['SibSp','Survived']]

In [20]:
max_sibling = survival_sib.loc[survival_sib['SibSp'].idxmax()]
max_sib_SP = max_sibling[0]
max_sib_SP

8

In [21]:
people_with_max_sibling = titanic_data.loc[titanic_data['SibSp'] == max_sib_SP]
survived = people_with_max_sibling['Survived']
for s in survived:
    if s == 0:
        print "People with the maximum number of siblings:",max_sib_SP,", didnot survive"
        break
    else:
        print "People survived =", s
        break

People with the maximum number of siblings: 8 , didnot survive

In [22]:
sib_gt_3 = survival_sib.loc[survival_sib['SibSp'] >3].sum()[1]

In [23]:
sib_ls_3 = survival_sib.loc[survival_sib['SibSp'] <=3].sum()[1]

In [24]:
compare_num(sib_ls_3,sib_gt_3,'3','siblings')

The people whose siblings  was less than 3 survived more

In [25]:
#Comparison between male and female survivors
survival_gender = titanic_data[['Survived','Sex']]

In [26]:
#females survived 
females = survival_gender.loc[survival_gender['Sex']=='female'].sum()[0]
females

233

In [27]:
#males survived 
males = survival_gender.loc[survival_gender['Sex']=='male'].sum()[0]
males

109

In [28]:
#comparing males and female survivors
if males > females:
    print "Males survived more than females"
else:
    print "Females survived more than males"

Females survived more than males

In [199]:
#finding correlation
def correlation(x, y):
    std_x = (x - x.mean())/x.std(ddof=0)
    std_y = (y - y.mean())/y.std(ddof=0)
    return (std_x * std_y).mean()

In [203]:
pclass = titanic_data['Pclass'] 
fare = titanic_data['Fare'] 
survival = titanic_data['Survived']
age = titanic_data['Age']
sib = titanic_data['SibSp']
#print sib
print correlation(pclass,survival)
print correlation(age,survival)
print correlation(sib,survival)

-0.338481035961
0.0105392158713
-0.0353224988857

In [218]:
#standardizing all the variables
def standardize(x):
    std_x = (x - x.mean())/x.std(ddof=0)
    return std_x
standardize(survival)
standardize(age)
standardize(sib)

In [215]:
#calculating how many people boarded from which place
import numpy as np

embarked_city = titanic_data['Embarked'] # 
survival = titanic_data['Survived']
price_cities = titanic_data['Fare']
passengers_S = len(survival[embarked_city == 'S'])
passengers_C =  len(survival[embarked_city == 'C'])
passengers_Q =  len(survival[embarked_city == 'Q'])
survive_S = survival[embarked_city == 'S'].sum()
survive_C = survival[embarked_city == 'C'].sum()
survive_Q = survival[embarked_city == 'Q'].sum()

In [216]:
#total survivors from each city
def total_info(cities,var,survivor):
    for i in range(len(cities)-1):
        city = cities[i]
        total_survival = survivor[i]
        print '{} has total {} {}'.format(city,var,
                total_survival)
total_info(cities,'survival',people_survived)

S has total survival 217
C has total survival 93
Q has total survival 30

In [38]:
#Which city has maximum survivors
def max_people_survived(cities, survival):
    max_city = None
    max_survival = 0
    for i  in range(len(cities)-1):
        city = cities[i]
        survived = survival[i]
        if survived > max_survival:
            max_city = city
            max_survival = survived
    return(max_city,max_survival)

In [36]:

max_people_survived(cities,people_survived)

('S', 217)

In [214]:
#Deviation of the people from the city
def standardize_data(values):
    standard_values = (values - values.mean())/values.std()
    return standard_values
print standardize_data(people_survived)

[ 1.33445673 -0.26174232 -1.07271441]

In [219]:
#Calculating family members of each passenger aboard
no_of_siblings = pd.Series(titanic_data['SibSp'])
no_of_parents = pd.Series(titanic_data['Parch'])
total_family = no_of_siblings + no_of_parents
names = titanic_data['Name']
total_info(names,'family members',total_family)

In [220]:
#finding out details of people who survived
titanic_data.loc[titanic_data['Survived']==1]